{% extends "YtManagerApp/master_default.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'YtManagerApp/import/jstree/dist/themes/default/style.min.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'YtManagerApp/import/jstree/dist/jstree.min.js' %}"></script>
    <script>
        {% include 'YtManagerApp/js/index.js' %}
    </script>
{% endblock %}

{% block body %}

    {% include 'YtManagerApp/controls/setup_errors_banner.html' %}

    <div class="row">

        <div class="col-3">
            {# Tree toolbar #}
            <div class="btn-toolbar" role="toolbar" aria-label="Subscriptions toolbar">
                <div class="btn-group mr-2" role="group">
                    <button id="btn_create_sub" type="button" class="btn btn-light"
                            data-toggle="tooltip" title="Add subscription..."
                            data-modal="modal" data-modal-url="{% url 'modal_create_subscription' %}"
                            data-modal-callback="tree_Refresh">
                        <span class="typcn typcn-plus" aria-hidden="true"></span>
                    </button>
                    <button id="btn_create_folder" type="button" class="btn btn-light"
                            data-toggle="tooltip" title="Add folder..."
                            data-modal="modal" data-modal-url="{% url 'modal_create_folder' %}"
                            data-modal-callback="tree_Refresh">
                        <span class="typcn typcn-folder-add" aria-hidden="true"></span>
                    </button>
                    <button id="btn_import" type="button" class="btn btn-light"
                            data-toggle="tooltip" title="Import from file..."
                            data-modal="modal" data-modal-url="{% url 'modal_import_subscriptions' %}"
                            data-modal-callback="tree_Refresh">
                        <span class="typcn typcn-document-add" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="btn-group mr-2" role="group">
                    <button id="btn_edit_node" type="button" class="btn btn-light"
                            data-toggle="tooltip" title="Edit selection">
                        <span class="typcn typcn-edit" aria-hidden="true"></span>
                    </button>
                    <button id="btn_delete_node" type="button" class="btn btn-light"
                            data-toggle="tooltip" title="Delete selection">
                        <span class="typcn typcn-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

            <div id="tree-wrapper">
                <div class="d-flex">
                    <div class="loading-dual-ring mx-auto my-5"></div>
                </div>
            </div>
        </div>

        <div class="col-9">
            {# Video toolbar #}
            <div class="btn-toolbar" role="toolbar" aria-label="Subscriptions toolbar">
                {% crispy filter_form %}
            </div>

            <div id="videos-wrapper">
            </div>

            <div id="videos-loading" style="display: none">
                <div class="d-flex">
                    <div class="loading-dual-ring mx-auto my-5"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
