{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}YouTube Subscription Manager{% endblock %}</title>

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'YtManagerApp/favicon.ico' %}"/>

        <link rel="stylesheet" href="{% static 'YtManagerApp/import/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'YtManagerApp/import/typicons/typicons.min.css' %}" />
        <link rel="stylesheet" href="{% static 'YtManagerApp/css/style.css' %}">

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        
        <nav id="main_navbar" class="navbar navbar-expand-lg navbar-light bg-light">

            {% if request.user.is_authenticated %}
                <button id="hamburger-button"
                        type="button"
                        class="btn btn-light">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            {% endif %}

            <a class="navbar-brand" href="{% url 'home' %}">YouTube Manager</a>

            {% block navbar-content %}
            {% endblock %}

            <ul class="navbar-nav ml-auto">
                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% if global_preferences.general__allow_registrations %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                {% else %}
                    {# The job panel #}
                    <li class="nav-item">
                        <div class="btn-group">

                                <button id="btn_toggle_job_panel"
                                        class="btn btn-sm btn-light dropdown-toggle"
                                        title="Show/hide job details"
                                        data-toggle="dropdown"sss
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="typcn typcn-th-list" aria-hidden="true"></span>
                                </button>

                            <div id="job_panel" class="dropdown-menu dropdown-menu-right dropdown-jobs" aria-labelledby="btn_toggle_job_panel">

                                <h6 id="job_panel_title" class="dropdown-header collapse">Running jobs</h6>
                                <h6 id="job_panel_no_jobs_title" class="dropdown-header">No jobs are currently running</h6>

                                <div id="job_panel_item_template" class="dropdown-item collapse">
                                    <div class="row">
                                        <div class="col-8">
                                            <p id="job_panel_item_title">Title</p>
                                            <p><small id="job_panel_item_subtitle" class="text-muted">Subtitle</small></p>
                                        </div>
                                        <div class="col-4">
                                            <div class="progress">
                                                <div id="job_panel_item_progress"
                                                     class="progress-bar progress-bar-striped progress-bar-animated"
                                                     role="progressbar" style="width: 25%" aria-valuenow="25"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>

        </nav>

        {% if request.user.is_authenticated %}
            <div id="hamburger">
                <div id="hamburger-content">
                    {% block hamburger-menu %}
                    {% endblock %}
                </div>
                <div id="hamburger-footer">
                    <div class="btn-toolbar row">
                        <a class="btn btn-light col"
                           href="{% url 'settings' %}"
                           data-toggle="tooltip" title="Settings">
                            <span class="typcn typcn-cog"></span>Settings
                        </a>
                        <a class="btn btn-light col"
                           href="{% url 'logout' %}"
                           data-toggle="tooltip" title="Log out">
                            <span class="typcn typcn-eject"></span>Log out
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}

        <div id="toast-wrapper" aria-live="polite" aria-atomic="true"></div>

        <div id="modal-wrapper">
            <div id="modal-loading" class="black-overlay">
                <div class="loading-dual-ring loading-dual-ring-center-screen"></div>
            </div>

            <div id="modal-wrapper">
            </div>
        </div>

        <div id="main_body" class="container-fluid">
            {% block body %}
            {% endblock %}
        </div>

        <script src="{% static 'YtManagerApp/import/jquery/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'YtManagerApp/import/popper/popper.min.js' %}"></script>
        <script src="{% static 'YtManagerApp/import/bootstrap/js/bootstrap.min.js' %}"></script>

        <script>
            window.ytsmContext = {
                csrf_token: "{{ csrf_token }}",
                url_ajax_get_running_jobs: "{% url 'ajax_get_running_jobs' %}",
                {% block context %}
                {% endblock %}
            };

        </script>

        <script type="module" src="{% static 'YtManagerApp/js/common.js' %}"></script>
        <script>
            {% include 'YtManagerApp/js/common.js' %}
        </script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>