$accent-color: #007bff;

/* Some material font helpers */
.material-folder::before {
    content: "\e2c7";
}

.material-person::before {
    content: "\e7fd";
}

/* Loading animation */
.loading-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.loading-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $accent-color;
    border-color: $accent-color transparent $accent-color transparent;
    animation: loading-dual-ring 1.2s linear infinite;
}

@keyframes loading-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.video-gallery {
    .card-wrapper {
        padding: 0.4rem;
        margin-bottom: .5rem;
    }
    .card {
        .card-body {
            padding: .75rem;
        }
        .card-text {
            font-size: 10pt;
            margin-bottom: .5rem;
        }
        .card-title {
            font-size: 11pt;
            margin-bottom: .5rem;

            .badge {
                font-size: 8pt;
            }
        }
        .card-footer {
            padding: .5rem .75rem;
        }

        .card-more {
            margin-right: -0.25rem;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .video-icon-yes {
        color: #6c757d;
    }
    .video-icon-no {
        color: #cccccc;
    }

}