{% extends 'YtManagerApp/master_default.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'YtManagerApp/css/login.css' %}">
{% endblock %}

{% block body %}

    <div class="login-card mx-auto">

        {% if next %}
            {% if user.is_authenticated %}
                <div class="alert alert-warning" role="alert">
                    Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.
                </div>
            {% else %}
                <div class="alert alert-info" role="alert">
                    Please login or register to see this page.
                </div>
            {% endif %}
        {% endif %}

        <h5>Password reset</h5>

        <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>

            {{ form | crispy }}

            <p>If there is any account associated with the given e-mail address,
                an e-mail will be sent containing the password reset link.</p>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="reset"/>
            </div>

        </form>
    </div>

{% endblock %}