{% extends "YtManagerApp/master_default.html" %}
{% load static %}

{% block body %}

    <div class="row">

        {% for provider in providers %}
            {% if provider.is_configured %}
                <div class="provider-wrapper col-2">
                    <button class="btn btn-light ">
                        <img class="provider-logo"
                             src="{% static provider.image_src %}"
                             title="{{ provider.name }}">
                    </button>
                </div>
            {% endif %}
        {% endfor %}

        {% if have_unconfigured %}
            <div class="provider-wrapper col-2 dropdown">
                <button id="btnAddProvider"
                        class="btn btn-light"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="provider-logo typcn typcn-plus"
                      title="Add provider">
                    </span>
                </button>
            </div>
        {% endif %}

    </div>

{% endblock %}
