{% extends "YtManagerApp/master_default.html" %}
{% load static %}

{% block body %}

    {% if have_configured %}
    <section>
        <h3>Configured providers</h3>
        <div class="row">
            {% for provider in providers %}
                {% if provider.is_configured %}
                    <div class="provider-wrapper col-2">
                        <button class="btn btn-light"
                                data-modal="modal"
                                data-modal-url="{% url 'modal_provider_config' provider.id %}">
                            <img class="provider-logo"
                                 src="{% static provider.image_src %}"
                                 title="{{ provider.name }}">
                            {% if provider.has_error %}
                                <span class="typcn typcn-warning provider-status text-warning"></span>
                            {% else %}
                                <span class="typcn typcn-tick provider-status text-success"></span>
                            {% endif %}
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {% if have_unconfigured %}
        <h3>Not configured</h3>
        <div class="row">
            {% for provider in providers %}
                {% if not provider.is_configured %}
                    <div class="provider-wrapper col-2">
                        <button class="btn btn-light"
                                data-modal="modal"
                                data-modal-url="{% url 'modal_provider_config' provider.id %}">
                            <img class="provider-logo"
                                 src="{% static provider.image_src %}"
                                 title="{{ provider.name }}">
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
