{% if config_errors %}
    <div class="alert alert-danger alert-card mx-auto">
        <p>Attention! Some critical configuration errors have been found!</p>
        <ul>
            {% for err in config_errors %}
                <li>{{ err }}</li>
            {% endfor %}
        </ul>
        <p>Until these problems are fixed, the server may have encounter serious problems while running.
            Please correct these errors, and then restart the server.</p>
    </div>
{% endif %}

{% if config_warnings %}
    <div class="alert alert-warning alert-card mx-auto">
        <p>Warning: some configuration problems have been found!</p>
        <ul>
            {% for err in config_warnings %}
                <li>{{ err }}</li>
            {% endfor %}
        </ul>
        <p>We recommend that you fix these issues before continuing.</p>
    </div>
{% endif %}