{% extends 'YtManagerApp/controls/modal.html' %}
{% load crispy_forms_tags %}

{% block modal_title %}
    Edit subscription
{% endblock modal_title %}

{% block modal_content %}
    <form action="{% url 'modal_update_subscription' form.instance.pk %}" method="post">
        {{ block.super }}
    </form>
{% endblock %}

{% block modal_body %}
    {% crispy form %}
{% endblock modal_body %}

{% block modal_footer %}
    <input class="btn btn-primary" type="submit" value="Save" aria-label="Save">
    <input class="btn btn-secondary" type="button" value="Cancel" data-dismiss="modal" aria-label="Cancel">
    <input class="btn btn-secondary" type="button" value="Synchronize Now" aria-label="Synchronize Now" onclick="synchronizeChannelNow()">
{% endblock modal_footer %}

{% block modal_scripts %}
<script>
    function synchronizeChannelNow() {
        $.post("{% url 'ajax_action_sync_now' form.instance.pk %}", {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }, function() {
        });
    }
</script>
{% endblock %}

