{% extends 'YtManagerApp/controls/modal.html' %}
{% load crispy_forms_tags %}

{% block modal_title %}
    Delete subscription
{% endblock modal_title %}

{% block modal_content %}
    <form action="{% url 'modal_delete_subscription' object.id %}" method="post">
        {% csrf_token %}
        {{ block.super }}
    </form>
{% endblock %}

{% block modal_body %}
    <p>Are you sure you want to delete subscription &quot;{{ object }}&quot;?</p>
    {{ form | crispy }}
{% endblock modal_body %}

{% block modal_footer %}
    <input class="btn btn-danger" type="submit" value="Delete" aria-label="Delete">
    <input class="btn btn-secondary" type="button" value="Cancel" data-dismiss="modal" aria-label="Cancel">
{% endblock modal_footer %}