{% extends 'YtManagerApp/master_default.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'YtManagerApp/css/login.css' %}">
{% endblock %}

{% block body %}

    {% if validlink %}
        <div class="login-card mx-auto">
            <h5>Confirm password reset</h5>

            <form method="post" action="">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="change password"/>
                </div>

            </form>
        </div>
    {% else %}
        <div class="alert-card mx-auto">
            <div class="alert alert-danger" role="alert">
                The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
            </div>
        </div>
    {% endif %}

{% endblock %}