<div id="folderEditDialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="folderEditDialog_Title" class="modal-title">Edit folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="folderEditDialog_Loading" class="modal-body">
                <div class="loading-dual-ring"></div>
            </div>
            <div id="folderEditDialog_Error">
            </div>
            <form id="folderEditDialog_Form" action="{% url 'ajax_edit_folder' %}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" id="folderEditDialog_Id" name="id" value="#">
                    <div class="form-group row">
                        <label class="col-sm-3" for="folderEditDialog_Name">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="folderEditDialog_Name" name="name" placeholder="Folder name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3" for="folderEditDialog_Parent">Parent folder</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="folderEditDialog_Parent" name="parent">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="folderEditDialog_Submit" type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>