<div id="folder_edit_dialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="folder_edit_dialog_title" class="modal-title">Edit folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="folder_edit_dialog_loading" class="modal-body">
                <div class="loading-dual-ring"></div>
                <div id="folder_edit_dialog_error"></div>
            </div>
            <form id="folder_edit_dialog_form" action="{% url 'ajax_edit_folder' %}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" id="folder_edit_dialog_id" name="id" value="#">
                    <div class="form-group row">
                        <label class="col-sm-3" for="folder_edit_dialog_name">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="folder_edit_dialog_name" name="name" placeholder="Folder name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3" for="folder_edit_dialog_parent">Parent folder</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="folder_edit_dialog_parent" name="parent">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="folder_edit_dialog_submit" type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>